from="{{ item.0.authorized_keys_from|default(authorized_keys_from) }}",no-agent-forwarding,no-port-forwarding,no-X11-forwarding ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC6tcjHkrFSoOzyNwOBhl8W/q0rYTXchdNFVjk6jFA0/QrL+MCZXMYtcRQ5vRP0QYF4C3XusBw4eTjBA3F+Yj1IgRwAJqcpOn9CH3RgRLETsyr8evklwmTwNx+8UosPV3+wbUzrPHYNHBJa7lcdPVe8lRMFOmmFNrkcCN75niW0BAAoaMzBtoI69ichyruIsNTRvjpeh+NWQVYRG6VroXbNwWuhE+1v3yGDJUbzQnVvML1qfviKHFgZ2fRH38S8qhd+oZAEu7LN8sXoFh3+udwpo+QREgQ68X4mavBEVnWoF776wnytAjCcGOjP6fq+NHpq9MouwmZUbeaWf6A/EtYTKkxmGtaOUM0OhPyPExMoqvVDkufx1G60UdM5zf6Zu5WdQYQNkuB1MLe1WMUu3kemAJ6dFxt1fZuvxK6a04IeKVtaKgWH6T4TqMH6UpFzYK+aCFTr4lskfBYgc6z+mceuzs/NsUOFsG4zU41lIgT3Sh/cwJ8O0XG853pZbrspUXslEKYD3LN+MoxyjEh0GYqzo5VEbx6lLJqzIj+AVu9Lq35nvDLykMYik1hliZ4yH6l8N0cYiFLW8GYrvdYSQf2hh76/TAssBadsEHx3t9i1sXhW8lQH+XbW/oSla2AzAAVkyD07n8fUZuTgh79fdMT1IMFFmZ7JcIANY3wUbF6u7Q== service_ansible

