from="{{ item.0.authorized_keys_from|default(authorized_keys_from) }}",no-agent-forwarding,no-port-forwarding,no-X11-forwarding ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDEVZiK4o8bzky+8g021VWwzxAi5LtuE+Tomt3g/9UFBr5VYpaftLTkE81UETbyv/+Hj+r+nszmjoCf41Hke4vOwRnle9poa/4MxRNV+TyC6Kbn+lC8LCNImuJ/r5ONi6pou3fclmdI9GVBSMwwCfyZ3VxPInfylWFRyyDCgOc5gmWYQlbnTU7BbDpbc8Dmv8VYFB5Gx7j+D6YLJPtHeB7ASppJMmROkZaccPQkKrTVQn/YOWDoNxQjggNtIH/zV+46ievCXq5A5GpIXsGGoCWcbAxgmHXoHAGrDyEP2iUcnsVaRLz8H2XTI5k8zggukTSevCK/IUlcbzg1QsouGqYJDjCgLcNlVfpURWX9UJSboTpx5OtsRGM2eKt5VZjzGmNhwC12+1lakCVh8KbtMCTjnovnPHTBKozEUxguQAH4yQhEzbJfZISkZVWbeNc7iIyZ+6ZW3JBuOXDLpqAaK2xOfQqFvDTfPDRh/VNRZ4F86mFMnSzssIhBMUFFBmrxOEnY/aac/hxltFVZGfG5T+Pbv3Hm2hrGnsv1TsOpjPEeC4WDEf3gT7ElXI7raMnHp9qfxkh4OKsK8/msKY2tMaaCrLs2DGkJDInKK1kmhw9aLa6TJk73vQs4Q41JSGuK6jHGkFMFZGXik+D105gqnjNJjbRiVEsAcSfHOkBznvLrzQ== service_ansible

